<div class="row">
    <div class="col-2" *ngFor="let photo of photos">
        <div class="text-center">
            <h4>{{photo.username}}</h4>
        <img src="{{photo.url}}" class="img-thumbnail p-1">
        <div class="text-center">
            <button (click)="approvePhoto(photo.id)"
                class="btn btn-sm btn-success mr-1">Approve</button>
            <button 
                (click)="removePhoto(photo.id)"
                class="btn btn-sm btn-danger">Reject</button>
        </div>
    </div>
    </div>
</div>
